// ----------------------- /
//   GRID                  /
// ----------------------- /
$grid-gutter: 24px;
$grid-columns: 12;
$grid-max-width: 1224px;

// ----------------------- /
//   BREACKPOINTS          /
// ----------------------- /
$grid-gutter: 24px;
$xm-min-with: 480px;
$sm-min-with: 768px;
$md-min-with: 1200px;
$lg-min-with: 1440px;

// ----------------------- /
//   COLORS                /
// ----------------------- /
$black: #121212;
$light-gray: #a0a0a0;
$orange: #ff532d;

$bg-light-gray: #f5f5f5;

$border-radius: 4px;